@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Get your things Done!</h1>
    <p>The best task management system in the world</p>
</div>
